<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="property_manager" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFileName=|DataDirectory|\PROPERTYMANAGER.MDF"
      providerName="System.Data.SqlClient" />
    <add name="Final_Project.Properties.Settings.PropertyManagerConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PropertyManager.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>